body{
    font-family: 'Roboto', sans-serif;
    color: #f8f8ff;
    font-size: large;
}

.contentBefore{
    background-image: url('/resources/background.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #1a1a1a;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-animation: '';
    animation: '';
}

@-webkit-keyframes blur{
    0%      {filter: blur(0px) hue-rotate(0deg);}
    50%     {filter: blur(5px) hue-rotate(45deg);}
    100%    {filter: blur(0px) hue-rotate(10deg);}
}

@keyframes blur{
    0%      {filter: blur(0px) hue-rotate(0deg);}
    50%     {filter: blur(5px) hue-rotate(45deg);}
    100%    {filter: blur(0px) hue-rotate(10deg);}
}

.content{
    background-color: #1a1a1a;
    margin-left: 10%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 5;
    padding: 1em;
    display: block;
}

.sideMenu{
    background-color: #0d0d0d;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10%;
    height: 100%;

}

#menuList{
    list-style: none;
    font-size: 1em;
    padding-left: 0;
}

#menuList li{
    left: 0;
    padding: 0.5em 1em 0.5em 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    display: block;
    background-color: #808080;
}

#menuList li:hover{
    background: linear-gradient(135deg, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0) 0%);
    color: lightblue;
}

#menuList a{
    display: block;
    color: inherit;
    text-decoration: none;
}

div{
    padding-top: 1em;
}

#modeDiv{
    display: block;
    cursor: pointer;
}

#modeDiv input[type="radio"]{
    display: none;
}

#modeDiv input[type="radio"] + label {
    display: inline;
    padding: 0 0.5em 0 0.5em;
    background-color: black;
    border-color: #0d0d0d;
    margin-bottom: 1em;
    text-align: center;
}

#modeDiv input[type="radio"]:checked + label{
    transition: border 0.5s;
    border: 5px solid #007399;
    transition-timing-function: ease-in-out;
}

#menuList input[type="radio"]{
    display: none;
}

#menuList input[type="radio"] + label{
    display: block;
    background-color: black;
    border-color: #0d0d0d;
    margin-bottom: 1em;
    text-align: center;
}


#menuList input[type="radio"]:checked + label{
    transition: border 0.5s;
    border: 5px solid #007399;
    transition-timing-function: ease-in-out;
}

.content:after{
    background-color: #595959;
    opacity: 0.6;
}

#inputBox, #output{
    margin: auto;
    width: 49%;
    text-align: left;
    font-size: 2em;
}


#infoBox{
    position: relative;
    font-size: small;
    z-index: -5;
    float: right;
    display: none;
    margin: -20% 25% 0 30%;
    padding: 0% 0 15% 0;
    width: 40%;
    height: 40%;
    border-color: black;
    outline-style: outset;
    outline-color: #d9d9d9;
    background-color: black;
    color: ghostwhite;
}

.music{
    bottom: 5%;
    right: 5%;
    position: fixed;
    vertical-align: bottom;
    z-index: 5;
}

